#buttonBar1{
  max-width: 200px;
}

#genPassBtn{
  min-width: 200px;
}

#outputDiv{
  max-width: 350px;
}

#main_container {
  background-image: linear-gradient(to bottom left, rgb(85, 96, 168), rgb(93, 176, 202));
  padding-bottom: 100px;
}

.cb {
  width: 20px;
  height: 20px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  *overflow: hidden;
}

.table1 tr td {
  padding-bottom: .5em;
  color: white;
}


/* For mobile device */
@media screen and (max-width: 481px){
  .jumbotron {
    height: 100px;
  }
  .jumbotron h1 {
    font-size: 1.5em;
  }
  .jumbotron .container p {
    font-size: 16px;
  }
}

85 96 168
93 176 202
