#buttonBar1{
  max-width: 200px;
}

#genPassBtn{
  min-width: 200px;
}

#outputDiv{
  max-width: 350px;
}

.cb {
  width: 20px;
  height: 20px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  *overflow: hidden;
}
